<!--This is an example text that won't be displayed in the browser

<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">">
<div class="container">

    <div class="layout">
      <iframe width="800" height="450" src="https://www.youtube.com/embed/Ph6hXpPbl0s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>-->
<app-header-page></app-header-page>
<div class="main">
  <h1>Happy Holidays!</h1>
  <div class="dance">
  </div>
</div>
<div class="audio">
  <audio autoplay controls>
    <source src="/assets/music/gangnam.mp3" />
  </audio>
</div>
