.container{
  height: 500px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: smaller;
  color: black;
  text-align: center;
  background-image: url(../../assets/images/kuusipattern.png);
  background-position: center center;
  background-attachment: fixed;
}
p{
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.name {
  margin-bottom: 20px;
  margin-top: 20px;
}

.runo {
  margin-top: 20px;
}
