<app-header-page></app-header-page>
<body>
    <div class="sky"> 
<div class="center" >

    
    <h1>Merry Christmas in 10 different languages</h1>
    <ol>
        <p>French: Joyeux Noël.</p>
        <p>German: Frohe Weinachten.</p>
        <p>Spanish: Feliz Navidad.</p>
        <p>Italian: Buon Natale.</p>
        <p>Portuguese: Feliz Natal.</p>
        <p>Dutch: Vrolijk kerstfeest.</p>
        <p>Romanian: Crăciun fericit.</p>
        <p>Polish: Wesołych świąt Bożego Narodzenia.</p>
    </ol>
    
</div>
</div>


</body>