
.container{
    font-family: 'Yusei Magic', sans-serif;
    background-color: rgba(134, 149, 226, 0.462);
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;

}
.wrapper{

    width: 75%;
    margin: auto;

}

ul li {
    list-style: none;
    padding: 15px;
    cursor: pointer;
    position: relative;

}
ul{
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: row;

}
h2{
    padding: 20px;
}

.block{
    width: 500px;
    margin: auto;
    padding: 25px;
    background-color: rgba(209, 244, 251, 0.626);
}
.poemline{
    margin: auto;
}

@media screen and (max-width: 780px){
    .wrapper{
        max-width: auto;

    }
    .block{
        width: auto;
    }
    ul{
        justify-content: center;

    }
    h5{
        font-size: 15px;
    }
    ul li{
        font-size: 10px;
        padding: 5px;
    }
}
