.container{
    height: 500px;
    font-family: 'Mountains of Christmas', cursive;
    color: rgba(255, 255, 255, 0.816);
    text-align: center;
}
p{
    font-size: 45px;
    margin: 0;
    padding: 0;
}

/* .layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */