.container{
  height: 500px;
  font-family: 'Mountains of Christmas', cursive;
  font-size: smaller;
  color: rgba(255, 255, 255, 0.816);
  text-align: center;
}
p{
  font-size: 50px;
  margin: 0;
  padding: 0;
}

