<app-header-page></app-header-page>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Sansita+Swashed:wght@300&display=swap"
  rel="stylesheet"
/>
<div class="container-fluid">
  <body>
    <h1>Drinkkiresepti pikkujouluihin!</h1>
    <h5>Klikkaa napista saadaksesi esille drinkkireseptin</h5>
    <div class="center">
      <p>Roseeviiniglögi 4 hengelle</p>
      <form class="form">
        <input
        class="btn btn-info"
          type="button"
          value="Resepti 1"
          (click)="msg1()"
        />
      </form>
      <p>Glögi-sangria 8 hengelle</p>
      <form class="form">
        <input
        class="btn btn-info"
          type="button"
          value="Resepti 2"
          (click)="msg2()"
        />
      </form>
      <p>Seljankukkaglögi 4-6 hengelle</p>
      <form class="form">
        <input
        class="btn btn-info"
          type="button"
          value="Resepti 3"
          (click)="msg3()"
        />
      </form>
      <p>Mausteinen joulubooli 6 hengelle</p>
      <form class="form">
        <input
        class="btn btn-info"
          type="button"
          value="Resepti 4"
          (click)="msg4()"
        />
      </form>
    </div>
  </body>
</div>
