<app-header-page></app-header-page>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap"
      rel="stylesheet"
    />
  </head>
  <div class="container-fluid">
    <body>
      <h1>Kulkuset!</h1>
      <p>
        Lunta tulvillaan on raikas talvisää, ei liinakkommekaan, nyt enää
        talliin jää. Sen kohta valjastan reen pienen etehen, ja sitten joutuin
        matkahan me käymme riemuiten.
      </p>

      <p>
        Kulkuset, kulkuset riemuin helkkäilee. Talven valkohiutaleet ne kilvan
        leijailee. Rekehen, rekehen nouse matkaamaan! Lumi alla jalasten se
        laulaa lauluaan.
      </p>

      <p>
        On ryijyn alla lämmin, kun lunta tuiskuttaa. Nyt liinakkomme kiitää ja
        valkoinen on maa.
      </p>

      <p>
        Kulkuset, kulkuset riemuin helkkäilee. Talven valkohiutaleet ne kilvan
        leijailee.
      </p>

      <p>
        Toiseen maailmaan tää retki meidät vie, niin puhtaan valkeaan käy
        liinakkomme tie. Taas tuulen huminaa nyt puiden latvat soi. En retkeämme
        unhoittaa kai milloinkaa mä voi.
      </p>

      <p>
        Kulkuset, kulkuset riemuin helkkäilee. Talven valkohiutaleet ne kilvan
        leijailee. Rekehen, rekehen nouse matkaamaan! Lumi alla jalasten se
        laulaa lauluaan.
      </p>

      <p>
        On ryijyn alla lämmin, kun lunta tuiskuttaa. Nyt liinakkomme kiitää ja
        valkoinen on maa.
      </p>

      <p>
        Kulkuset, kulkuset riemuin helkkäilee. Talven valkohiutaleet ne kilvan
        leijailee.
      </p>
      <div class="audio">
        <audio autoplay controls>
          <source src="/assets/music/Jingle-Bells-3.mp3" />
        </audio>
      </div>
    </body>
  </div>
</html>
